name: CI Pipeline

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:


jobs:
  build-test-scan:
    runs-on: ubuntu-latest

    permissions:
      security-events: write
      actions: read
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      
      # ---------------- SAST (CodeQL) ----------------
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: java

      - name: Build with Maven (instrumented for CodeQL)
        run: mvn clean verify

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3


      # ---------------- SCA (Dependency Scan) ----------------
      - name: Dependency Review
        if: github.event_name == 'pull_request'
        uses: actions/dependency-review-action@v4



      # ---------------- Docker Build ----------------
      - name: Build Docker image
        run: |
          docker build -t rushil118/tictactoe:latest .

      # ---------------- Image Scan ----------------
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: rushil118/tictactoe:latest
          format: table
          exit-code: 1
          severity: CRITICAL,HIGH

      # ---------------- Runtime Smoke Test ----------------
      - name: Run container smoke test
        run: |
          docker run --rm rushil118/tictactoe:latest || true


      # ---------------- Push to DockerHub ----------------
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push image
        run: |
          docker push rushil118/tictactoe:latest
